body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background-color: #f9f9f9;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.app-content {
  flex: 1;
  padding-bottom: 6rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  background-color: rgb(66 97 125);
  opacity: 0.6;
  transition-duration: 300ms;
  transition-property: transform, opacity;
  border: 0;
  padding: 1rem;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
  box-shadow:
          0 15px 25px -3px rgb(0 0 0 / 0.2),
          0 4px 6px -2px rgba(0 0 0 / 0.05);
}

button:hover {
  color: #f9f9f9;
  opacity: 1;
}

button:active {
  transform: scale(0.95);
}

.logo {
  position: absolute;
  margin-left: 0.1rem;
  margin-top: 0.25rem;
  fill: rgb(66 97 125);
  width: 3rem;
}

.logo-text {
  font-family: "Pacifico", cursive;
  font-style: normal;
  font-weight: 400;
}

.next-page {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  background-color: transparent;
}

@keyframes next-page {
  0% {padding-top: 0;}
  60% {padding-top: 0.8rem;}
  100% {padding-top: 1rem;}
}

.next-page-icon {
  fill: rgb(66 97 125);
  opacity: 0.6;
  transition-duration: 300ms;
  transition-property: transform, opacity;
}

.next-page-icon:hover {
  opacity: 1;
  animation-name: next-page;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

.next-page-icon:active {
  transform: scale(0.8);
}

.warn {
  color: rgb(230, 80, 80);
}